<form [formGroup]="deckForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Id</mat-label>
    <input matInput formControlName="id" />
    @if(deckForm.get('id').getError('required')) {
      <mat-error>Campo obrigatório</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="name" />
    @if(deckForm.get('name').getError('required')) {
      <mat-error>Campo obrigatório</mat-error>
    }
  </mat-form-field>

  <button
    mat-flat-button
    color="primary"
    type="submit"
    [disabled]="deckForm.invalid"
  >
    Cadastrar
  </button>
  <button mat-stroked-button color="primary" type="reset">Limpar</button>
  <button mat-button color="primary" type="button">Cancelar</button>
</form>
